# Raw data (personal data, not to be shared)
data/input_data/*

# Mapping file (personal data, not to be shared)
data/id_map.csv

# Anonymised data (can be shared, but not needed in repo)
data/output_data/*

# Figures (can be shared, but not needed in repo)
data/figures

# Standard Python ignores
__pycache__/
*.pyc
.env
